<!DOCTYPE html>
<html>
  <head>
    <title>WebVisio</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST" action="/">
      <input type="submit" value="Créer un salon">
    </form>
  </body>
</html>