html, body {
    height: 100%;
    font-family: 'Lora';
}

* {
  font-family: 'Lora';
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #23272A;
}

#visio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

#videos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

video {
  height: 300px;
  width: 300px;
}

.create-or-join-room {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px;
  color: white;
  width: 40vw;
  border-radius: 20px;
  background-color: #131313cb;
}

.create-room input {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
}

input[type='submit'] {
  cursor: pointer;
}

#input-roomId {
  width: 40%;
}

.input-join-room{
  display: flex;
  align-items: center;
}

.input-join-room input {
  margin-right: 20px;
  padding: 10px;
  font-size: 15px;

}

.input-join-room a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}

main {
  display: flex;
  position: relative;
  height: 100%;
}

.dock {
  margin-bottom: 10px;
  color: white;
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.507);
}

#dock-icons {
  display: flex;
  justify-content: space-around;
}

#dock-icons i {
  cursor: pointer;
  font-size: 30px;
  margin: 0 30px;
}

#chat {
  color: white;
  background-color: rgba(0, 0, 0, 0.507);
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 20%;
}

#chat header {
  text-align: center;
}

#chat-list {
  display: block;
  overflow-y: scroll;
  overflow-wrap: normal;
}

.chat-message {
  width: 90%;
  margin: 10px auto;
  font-size: 1.2em;
}

.chat-message-author {
  font-weight: bold;
}


#chat-input {
  width: 100%;
}

#chat-input textarea {
  border: 1px solid #23272A;
  color: white;
  background-color: rgba(0, 0, 0, 0.507);
  font-family: 'Lora';
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  font-size: 15px;
  resize: none;
}

#chat-input textarea:focus {
  outline: none;
}